{% extends "pjwebarg/base.html" %}
{% load static %}
{% block content %}
<div class="contenedorFormulario">
    <script>
        const showAlert = () => {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Su información ha sido enviada con éxito',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
    {% if "valido" in request.GET %}
    <p  style="color:white;">Mensaje enviado, Muchas Gracias!</p>
    <button onclick="showAlert()">Test Swal</button>
    {% endif %}
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color:white; margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input onclick="showAlert()" type="submit" value="enviar" style="width:190px;">
    </form>
</div>

{% endblock %}