<html>

<head>
  {% load static %}
  <!-- Bootstrap -->
  <link href="{% static 'pjwebarg/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <!-- Styles -->
  <link href="{% static 'pjwebarg/css/gestion.css' %}" rel="stylesheet">
  <!--SweetAlert-->
  <link rel="stylesheet" href="sweetalert2.min.css">
</head>

<body>
  <h1 class="site-heading text-center d-none d-lg-block d-inline">
    <img class="site-img-header" src="{% static 'pjwebarg/img/logo-color.png' %}" alt="">
    <span class="site-heading-upper">Sistema Gestión Comercial</span>
  </h1>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Sistema
        Gestión Comercial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/login/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Login' %}">Login</a>
          </li>
          <li class="nav-item {% if request.path == '/contactos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {% if request.path == '/blog/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Contenido de página-->
  {% block content %}

  {% endblock %}
  <section>
    <div
      class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-93aacf2 last-col-colorbar"
      data-id="93aacf2" data-element_type="column"
      data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
          <div class="elementor-element elementor-element-53462ca elementor-widget elementor-widget-spacer"
            data-id="53462ca" data-element_type="widget" data-widget_type="spacer.default">
            <div class="elementor-widget-container">
              <div class="elementor-spacer">
                <div class="elementor-spacer-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <hr width="100%" align="center" color="green">

  <body class="d-flex flex-column min-vh-100">
    <footer class="text-center mt-auto" style="color: black;">
      <div class="container p-3">
        <section class="">
          <div class="row" style="text-align: left;">
            <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
              <img src="{% static 'pjwebarg/img/logo_footer.png' %}" alt="">
              <h5 class="text-uppercase footer-font-title" style="padding-top: 30px; font-size: 16px;">CONTACTANOS</h5>
              <p class="footer-font-content">
                CONTACTANOS
                “CCU” es una marca registrada de CCU.
                Edison 2669 Piso 1. Martinez (1640)
                San Isidro, Buenos Aires, Argentina
              </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-3 mb-md-0 ">
              <h5 class="text-uppercase footer-font-title" style="padding-bottom: 30px;">CONTACTANOS</h5>
              <a href="!#" style="font-size: 13px;">atencionalconsumidor@ccu.com.ar</a>
              <p class="footer-font-content">
                0800-888-2427</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
              <h5 class="text-uppercase footer-font-title" style="padding-bottom:30px;">SEGUINOS</h5>
              <div class="btn-frame">
                <a class="btn m-1" href="https://www.facebook.com/CCU-Argentina-103956628077457/" target="_blank"
                  role="button"><i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
                <a class="btn m-1" href="https://www.instagram.com/ccu.argentina/" target="_blank" role="button"><i
                    class="fab fa-instagram" style="color:#ee4056;"></i></a>
                <a class="btn m-1" href="https://www.youtube.com/user/ccuargentina" target="_blank" role="button"><i
                    class="fab fa-youtube" style="color:#e51414;"></i></a>
                <a class="btn m-1" href="{% url 'Contacto' %}" role="button"><i class="far fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="p-1" style="text-align: left; color: black; text-decoration:solid; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 11px;">
            © 2022. CCU S.A. Todos los derechos reservados.
          </div>
        </section>
      </div>
    </footer>

    <!--Revisar Swal-->
    <script type="text/javascript" src="{% static 'pjwebarg/vendor/jquery/swal.js' %}"></script>
    <!--js-->
    <script src="{% static 'pjwebarg/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'pjwebarg/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!--sweetAlert-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <!--icons-->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/fontawesome.js"
      integrity="sha384-dPBGbj4Uoy1OOpM4+aRGfAOc0W37JkROT+3uynUgTHZCHZNMHfGXsmmvYTffZjYO"
      crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"></script>
  </body>


</html>